
body {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
  background-color: black;

}

#welcome{
   font-family: "Bona Nova SC", serif;
   font-weight: 400;
   font-style: italic;
   color: white;
}
#welcome h1{
    font-size: 90px;
}
.home{
    background-color: rgb(0, 0, 0);
    height: 90vh;
    padding: 180px 0 0 50px;
}
#img{
    width: 10px;
    height: 20px;
    border-radius: 0;
}
.skills{
    background-color: white;
}
.projects{
    background-color: yellow;
}
.container-fluid a{
    padding-left: 30px;
    font-size: 15px;
}

.navbar-nav {
    padding-left: 720px;
    
}
.navbar-nav a:hover{
    text-decoration: underline;
}
.navbar-nav a{
    font-size: 18px;
    color: green;
}
.text {
    font-size: 20px;
    width: 100%;
}
.skills h1{
    text-align: center;
    color: white;
    color: rgba(91,192,222);
}
.skills h3{
    margin: 5px;
    color: white;
    font-size: 20px;
}
.skills{
    width: 400px;
    margin: 30px auto;
    /* margin: 90px; */
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0 , 0 , 0.22);
    background-color: rgb(31, 30, 30);
   
}

.skills ul{
    margin: 20px 0;
    padding: 7px;
}
.bar {
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0 , 0 , 0.12), 0 1px 2px rgba(0, 0 , 0 , 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(91,192,222,1) 0%, rgba(91,192,222,1)100%);
}
.html{
    width: 90%;
    animation: html 10s;
}
.css{
    width: 60%;
    animation: html 8s;
}
.javascript{
    width: 30%;
    animation: html 8s;
}
.problem{
    width: 90%;
    animation: html 10s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
main{
    background-color: black;
}
.aspiration{
    width: 400px;
    margin: 30px auto;
    /* margin: 90px; */
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0 , 0 , 0.22);
    background-color: rgb(31, 30, 30); 
}
.aspiration p{
    font-weight: lighter;
}
.aspiration h1{
    text-align: center;
    color: white;
    color: rgba(91,192,222);
}
.my-skill{
    display: flex;
}
#About{
    color: rgba(91,192,222);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/* main{
    background-color: wheat;
} */
.Projects{
    display: flex;
    justify-content: space-between; 
}
.card{
    margin: 50px;
    box-shadow: 10px 14px 30px rgba(91, 192,222, 0.25), 10px 10px 20px rgba(91, 192,222, 0.22);
}
.cards h1{
    text-align: center;
    color:  rgba(91,192,222);
    margin-top: 10px;
}
#calc{
    margin: 20px auto;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  margin-top: 60px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: rgba(91,192,222);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.insta-bg{
  background: #C13584 ;
}
.link-bg{
  background: #2a70a6;
}
.git-bg{
  background: rgb(2, 60, 2);
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background:  rgba(91,192,222);
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: rgba(91,192,222);
    padding: 13px 20px;
    border: 1px solid rgba(91,192,222);
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

img {
    display: block;
    width: 100%;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0 , 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content p{
    color: white;
    font-size: 15px;
    padding-left: 20px;
    
}
.content:hover{
    opacity: 1;
}
